

<!--URI: /hamilton/--><!--EnvironmentName: hamilton--><!-- Premium Name: standard--><!--Project slug: hamilton--><!--Environment: --><!--Premium: --><!--Deployed slug: hamilton-->

<!-- VERSION c87647c -->
<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html lang="en" class="no-js ie6">
<![endif]-->
<!--[if IE 7 ]>
<html lang="en" class="no-js ie7">
<![endif]-->
<!--[if IE 8 ]>
<html lang="en" class="no-js ie8">
<![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="no-js ie9">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
		<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<script type="text/javascript">var adSection = "interactive_usnews";</script>
	<title>How does ‘Hamilton,’ the non stop, hip-hop Broadway sensation tap rap’s master rhymes to blur musical lines? - WSJ.com</title>
	<link rel="shortcut icon" href="http://si.wsj.net/favicon.ico"/>
	<link rel="apple-touch-icon" href="http://s.wsj.net/apple-touch-icon.png"/>

	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="format-detection" content="telephone=no">

	<!-- Meta: URL -->
	<link rel="canonical" href="http://graphics.wsj.com/hamilton/"/>
	<meta property="og:url" content="http://graphics.wsj.com/hamilton/"/>

	<!-- Meta: Images -->
	<link rel="image_src" href="http://si.wsj.net/public/resources/images/OG-AH408_HAMILT_G_20160603194236.jpg"/>
	<meta property="og:image" content="http://si.wsj.net/public/resources/images/OG-AH408_HAMILT_G_20160603194236.jpg"/>
	<meta name="twitter:image:src" content="http://si.wsj.net/public/resources/images/OG-AH408_HAMILT_G_20160603194236.jpg">

	<!-- Meta: Title -->
	<meta name="title" content='How does ‘Hamilton,’ the non stop, hip-hop Broadway sensation tap rap’s master rhymes to blur musical lines?'/>
	<meta property="og:title" content='How does ‘Hamilton,’ the non stop, hip-hop Broadway sensation tap rap’s master rhymes to blur musical lines?'/>
	<meta name="twitter:title" content='How does ‘Hamilton,’ the non stop, hip-hop Broadway sensation tap rap’s master rhymes to blur musical lines?'>

	<!-- Meta: Description -->
	<meta name="description" content="How does 'Hamilton,' the non-stop, hip-hop Broadway craze use complex rhymes to blur musical lines?"/>
	<meta name="twitter:description" content="How does 'Hamilton,' the non-stop, hip-hop Broadway craze use complex rhymes to blur musical lines?">
	<meta property="og:description" content="How does 'Hamilton,' the non-stop, hip-hop Broadway craze use complex rhymes to blur musical lines?" />

	<!-- Meta: Keywords -->
	<meta name="keywords" content="Hamilton, musical, Broadway, Tony Awards, Lin-Manuel Miranda, Daveed Diggs, rap"/>
	<meta name="news_keywords" content="Hamilton, musical, Broadway, Tony Awards, Lin-Manuel Miranda, Daveed Diggs, rap">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="author" content="WSJ.com News Graphics"/>
	<meta name="twitter:domain" content="WSJ.com">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@wsj">
	<meta property="og:site_name" content="WSJ"/>
	<meta property="og:type" content="article"/>
	<meta property="fb:app_id" content="368513495882"/>
	<meta property="article:publisher" content="https://www.facebook.com/wsj"/>

	<script type="text/javascript" src="http://online.wsj.com/public/resources/documents/WSJ_Interactive_TrackingAndAdsv6.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>

	<!-- H&Co Gziped Fonts -->
	<link rel="stylesheet" type="text/css" href="http://fonts.wsj.net/fonts/wsj-fonts.css"/>

	<link rel="stylesheet" href="http://graphics.wsj.com/libs/css/bootstrap/3.3.2/bootstrap.min.css">
	<link rel="stylesheet" href="http://graphics.wsj.com/libs/css/wsj/jquery.socialriser/1.6.0/jquery.socialriser.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <!---<script src="js/ejdict.js?v=1"></script> -->

    <script src="{{url_for('static', filename='jsnetworkx.js')}}"></script>
    <script src="{{url_for('static', filename='phodist.js')}}"></script>
    <script src="{{url_for('static', filename='bundle.js')}}"></script>
    <script src="{{url_for('static', filename='ejdict.js')}}"></script>

    <!-- Old links to javascript files
    <script src="//graphics.wsj.com/hamilton/js/jsnetworkx.js"></script>
    <script src="//graphics.wsj.com/hamilton/js/phodist.js"></script>
    <script src="//graphics.wsj.com/hamilton/js/bundle.js"></script>
    -->

  <!-- Swiper CSS -->
  <!-- <link rel="stylesheet" href="//graphics.wsj.com/hamilton/css/swiper.min.css"> -->

    <script type='text/javascript'>
	    var googletag = googletag || {};
			googletag.cmd = googletag.cmd || [];
			(function() {
				var gads = document.createElement('script');
				gads.async = true;
				gads.type = 'text/javascript';
				var useSSL = 'https:' == document.location.protocol;
				gads.src = (useSSL ? 'https:' : 'http:') +
				'//www.googletagservices.com/tag/js/gpt.js';
				var node = document.getElementsByTagName('script')[0];
				node.parentNode.insertBefore(gads, node);
			})();
	</script>

    <script type='text/javascript'>
      googletag.cmd.push(function() {
        var mapping = googletag.sizeMapping()
          .addSize([992,400],[[970,66],[970,90]])
          .addSize([768,400],[728,90])
          .addSize([0,0],[]).build();
        window.slot1 = googletag.defineSlot('/2/interactive.wsj.com/interactive_usnews', [
            [1260, 120],
            [970, 66],
            [970, 90],
            [970, 250],
            [728, 90]
        ], 'div-gpt-ad-1463153516922-0')
          .defineSizeMapping(mapping)
          .addService(googletag.pubads());
        var mobileMapping = googletag.sizeMapping()
          .addSize([0, 0], [])
          .addSize([320, 400], [300, 250])
          .addSize([768,400],[])
          .addSize([1050, 200], [])
        .build();
        window.slot2 = googletag.defineSlot('/2/interactive.wsj.com/interactive_usnews', [
            [300, 250]
        ], 'div-gpt-ad-1463153516922-1')
          .defineSizeMapping(mobileMapping)
          .addService(googletag.pubads());

        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
      });

    </script>

  <link rel="stylesheet" href="//graphics.wsj.com/hamilton/css/app-047fc0ab.css"/>
  <style>
    html,body{position:relative;height:100%;}
    .swiper-container{width:100%;height:100%;}
  </style>

<script type="application/ld+json">
           {
             "@context": "http://schema.org",
             "@type": "NewsArticle",
             "headline": "We Wrote an Algorithm to Unravel the Rhymes of Hit Musical ‘Hamilton’",
             "url": "http://graphics.wsj.com/hamilton/",
             "thumbnailUrl": "http://si.wsj.net/public/resources/images/OG-AH409_Hamilt_G_20160603194511.gif",
             "dateCreated": "2016-06-06T07:30:00Z",
             "articleSection": "Interactives",
             "creator": ["Joel Eastwood", "Erik Hinton"],
             "keywords": ["Hamilton", "musical", "Broadway", "Tony Awards", "Lin-Manuel Miranda", "Daveed Diggs", "rap"]
           }
</script>

</head>

<body class="template-standalone ">

	
<div class="top-header">
  <a href="http://www.wsj.com"><img src="//graphics.wsj.com/hamilton/img/WSJ-logo-Wht@2x.png" /></a>
</div>
		
    <!-- Slider main container -->
<h1>How does ‘Hamilton,’ the non stop, hip-hop Broadway sensation tap rap’s master rhymes to blur musical lines?</h1>

 <div class="swiper-container swiper-container">
<div class="swiper-wrapper">


 <div class="swiper-slide splash">
    <div class="swiper-content-wrapper">
      <div class="swiper-content">
          <div class="col-md-12 lede">
            <div class="splash-content">
              <div class="tunes" id="tunes-introviz"></div>
              <div class="hed">
                <h1 class="h1-hed">
                  How does ‘Hamil<span data-classed="1" class="pill color-inactive">ton</span>,’<br />
                  the <span data-classed="1" class="pill color-inactive">non</span> <span data-classed="2" class="pill color-inactive">stop</span>, hip-<span data-classed="2" class="pill color-inactive">hop</span><br />
                  Broad<span data-classed="3" class="pill color-inactive">way</span> sen<span data-classed="3" class="pill color-inactive">sa</span><span data-classed="1" class="pill color-inactive">tion</span><br />
                  <span data-classed="5" class="pill color-inactive">tap</span> <span data-classed="5" class="pill color-inactive">rap</span>'s mas<span data-classed="6" class="pill color-inactive">ter</span> <span data-classed="4" class="pill color-inactive">rhymes</span><br />to <span data-classed="6" class="pill color-inactive">blur</span> musical <span data-classed="4" class="pill color-inactive">lines</span>?
                </h1>
              </div>
            </div>
            <div class="dek-content">
              <div class="dek-wrapper">
                <h2 class="dek">Find out with our algorithm.</h2>
                <div class="headphones"><img src="//graphics.wsj.com/hamilton/img/headphones.png" /></div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="swiper-slide">
    <div class="swiper-content-wrapper">
      <div class="swiper-content">
          <div class="col-md-12 lede">
            <span class="splitter byline">By <a href="https://twitter.com/joeleastwood">Joel Eastwood</a> and <a href="https://twitter.com/erikhinton">Erik Hinton</a></span>

            <div class="byline-social-links social-links"></div>

            <p>Behind the sensational success of "Hamilton" are some of the most densely packed, complex rhyming lyrics in the history of musicals.  How exactly do they work? </p>
            <p>Let's start with the first verse of the musical's opening number. Our <a href="http://graphics.wsj.com/hamilton-methodology" target="_blank">algorithm</a> breaks words into their component sounds and then groups similar-sounding syllables into rhyme families, which are color-coded.</p>
          <!-- <p class="instructions">Play this verse to continue.</p> -->
          </div>
          <div class="col-md-12 viz-content">
            <div class="tunes" id="tunes-hamilton"><div class="loadloadloading active"><div class="loading-circle"></div></div></div>
          </div>
      </div>
    </div>
  </div>

  <!-- Slide 1 -->
  <div class="swiper-slide">
    <div class="swiper-content-wrapper">
      <div class="swiper-content">
          <div class="col-md-12 lede lede-hamilton2">
            <div class="splitter bug">Perfect End Rhymes</div>
            <p>A staple of song and poetry is perfect rhyme. In a perfect rhyme, the vowel sounds and consonant endings of two words are identical, as with the words “<span class="pill" data-classed="4" data-timecode="12.53">squa</span><span class="pill" data-classed="5" data-timecode="12.95">lor</span>” and “<span class="pill" data-classed="4" data-timecode="15.3">scho</span><span class="pill" data-classed="5" data-timecode="15.7">lar</span>” in the opening song.</p>
          </div>
          <div class="col-md-12 viz-content">
            <div class="tunes" id="tunes-hamilton2"><div class="loadloadloading active"><div class="loading-circle"></div></div></div>
          </div>
      </div>
    </div>
  </div>


<!-- Advertisement, don't move into slide area -->

          <div>
      <div class="col-md-12 pre-ad-label">Story continues after advertisement</div>
      <div class="header-ad box-ad gpt_ad_wrapper" id="top_ad">
        <div class="ad-label">Advertisement</div>
        <div id="AD_header"></div>
      </div>
    </div>
    
  <!-- Slide 2 -->


  <div class="swiper-slide">
    <div class="swiper-content-wrapper">
      <div class="swiper-content">
          <div class="col-md-12 lede">
            <div class="splitter bug">Internal Rhymes</div>
            <p>The “<span class="pill" data-classed="4" data-timecode="12.53">squa</span><span class="pill" data-classed="5" data-timecode="12.95">lor</span>” and “<span class="pill" data-classed="4" data-timecode="15.3">scho</span><span class="pill" data-classed="5" data-timecode="15.7">lar</span>” rhymes land at the end of lines. But this pair also rhymes with syllables in the middle of lines, such as “im<span class="pill" data-classed="4" data-timecode="11.718">pov</span><span class="pill" data-classed="5" data-timecode="12">er</span>ished.”</p>
          </div>
          <div class="col-md-12 viz-content">
            <div class="tunes" id="tunes-hamilton3"><div class="loadloadloading active"><div class="loading-circle"></div></div></div>
          </div>
      </div>
    </div>
  </div>

  <!-- Slide 3 -->
  <div class="swiper-slide">
    <div class="swiper-content-wrapper">
      <div class="swiper-content">
          <div class="col-md-12 lede lede-hamilton4">
            <div class="splitter bug">Imperfect Rhymes</div>
            <p>Most of the rhymes in this verse are imperfect—the matching sounds are not identical. For example, “<span class="pill" data-classed="2" data-timecode="5">Scots</span><span class="pill" data-classed="3" data-timecode="5.6">man</span>” and “<span class="pill" data-classed="2" data-timecode="6.09">dropped</span> <span class="pill" data-classed="3" data-timecode="6.625">in</span>” aren't perfect rhymes, but they partially rhyme because they share similar vowel sounds and consonant endings.</p>
          </div>
          <div class="col-md-12 viz-content">
            <div class="tunes" id="tunes-hamilton4"><div class="loadloadloading active"><div class="loading-circle"></div></div></div>
          </div>
      </div>
    </div>
  </div>

  <!-- Slide 4 -->
  <div class="swiper-slide">
    <div class="swiper-content-wrapper">
      <div class="swiper-content">
          <div class="col-md-12 lede">
            <div class="splitter bug">Bringing it Together</div>
            <p>These imperfect, internal rhymes are a hallmark of rap and hip-hop. Listen to this verse from The Fugees, performed by Lauryn Hill, which is littered with imperfect rhymes.</p>
          </div>
          <div class="col-md-12 viz-content">
            <div class="tunes" id="tunes-readyornot"><div class="loadloadloading active"><div class="loading-circle"></div></div></div>
          </div>
          <div class="col-md-12 lede no-viz" >
            <p>Lauryn Hill is one of a long list of artists and genres that influenced Lin-Manuel Miranda, the mastermind behind “Hamilton.” Let's compare the rhyme schemes of songs Mr. Miranda has cited as influential with verses he wrote in “Hamilton.”</p>

          </div>

      </div>
    </div>
  </div>

  <!-- Slide 6 -->
  <div class="swiper-slide">
    <div class="swiper-content-wrapper">
      <div class="swiper-content splits">
          <div class="col-md-12 lede">
            <div class="splitter bug">Musical Theatre</div>
            <p>Mr. Miranda draws plenty of inspiration for Hamilton’s structure from musical theater. He makes a direct reference to Gilbert and Sullivan's Victorian operetta "The Pirates of Penzance," but adds more internal and imperfect rhyme.</p>
          </div>
          <div class="col-md-12  viz-content">
            <div class="tunes" id="tunes-penzance"><div class="loadloadloading active"><div class="loading-circle"></div></div></div>
          </div>
          <div class="col-md-12  viz-content">
            <div class="tunes" id="tunes-righthand"><div class="loadloadloading active"><div class="loading-circle"></div></div></div>
          </div>
      </div>
    </div>
  </div>


  <!-- Slide 7 -->
  <div class="swiper-slide">
    <div class="swiper-content-wrapper">
      <div class="swiper-content splits">
          <div class="col-md-12 lede">
            <div class="splitter bug">Assonance and Consonance</div>
            <p>Mr. Miranda cops rapper Big Pun’s characteristic thick rhyme patterns, in which one or two sounds are repeated over and over again. If the repetition is a vowel sound, it’s known as assonance; with a consonant, it’s consonance.
          </div>
          <div class="col-md-12  viz-content">
            <div class="tunes" id="tunes-bigpun"><div class="loadloadloading active"><div class="loading-circle"></div></div></div>
          </div>
          <div class="col-md-12  viz-content">
            <div class="tunes" id="tunes-myshot"><div class="loadloadloading active"><div class="loading-circle"></div></div></div>
          </div>
      </div>
    </div>
  </div>


  <!-- Slide 8 -->
  <div class="swiper-slide">
    <div class="swiper-content-wrapper">
      <div class="swiper-content splits">
          <div class="col-md-12 lede">
            <div class="splitter bug">Multisyllabic Rhymes</div>
            <p>One of rapper Rakim's signature sounds, which Alexander Hamilton inherits, is large, multisyllabic rhymes, where a rhyme spans several syllables—as when Hamilton rhymes “<span class="pill" data-classed="5" data-timecode="7.67">be</span> <span class="pill" data-classed="6" data-timecode="7.76">So</span><span class="pill" data-classed="7" data-timecode="7.98">cra</span><span class="pill" data-classed="8" data-timecode="8">tes</span>” and “<span class="pill" data-classed="5" data-timecode="9.4">me</span><span class="pill" data-classed="5" data-timecode="9.5">di</span><span class="pill" data-classed="6" data-timecode="9.76">o</span><span class="pill" data-classed="7" data-timecode="9.98">cri</span><span class="pill" data-classed="8" data-timecode="10.1">ties</span>.”
          </div>
          <div class="col-md-12  viz-content">
            <div class="tunes" id="tunes-rakim"><div class="loadloadloading active"><div class="loading-circle"></div></div></div>
          </div>
          <div class="col-md-12  viz-content">
            <div class="tunes" id="tunes-nonstop"><div class="loadloadloading active"><div class="loading-circle"></div></div></div>
          </div>
      </div>
    </div>
  </div>


  <!-- Slide 9 -->
  <div class="swiper-slide">
    <div class="swiper-content-wrapper">
      <div class="swiper-content splits">
          <div class="col-md-12 lede">
            <div class="splitter bug">Rhyme Weaving</div>
            <p>Another common pattern in "Hamilton" is interwoven rhymes, when a syllable is used at the end of one rhyme pair before appearing at the beginning of another. This technique is exemplified in this famous verse by Nas, where the first syllable of "<span class="pill" data-classed="2" data-timecode="0.573">mon</span><span class="pill" data-classed="1" data-timecode="0.738">key</span>" rhymes with the final syllable in "<span class="pill" data-classed="3" data-timecode="2.02">rhy</span><span class="pill" data-classed="2" data-timecode="2.177">thm</span>."
          </div>
          <div class="col-md-12  viz-content">
            <div class="tunes" id="tunes-nas"><div class="loadloadloading active"><div class="loading-circle"></div></div></div>
          </div>
          <div class="col-md-12  viz-content">
            <div class="tunes" id="tunes-burrsir"><div class="loadloadloading active"><div class="loading-circle"></div></div></div>
          </div>
      </div>
    </div>
  </div>

  <!-- Slide 9 -->
  <div class="swiper-slide">
    <div class="swiper-content-wrapper">
      <div class="swiper-content splits">
          <div class="col-md-12 lede">
            <div class="splitter bug">West Coast Influence</div>
            <p>"This is my favorite lyric to perform in the show every night," says Daveed Diggs, who raps as the Marquis de Lafayette in the first act of "Hamilton" and Thomas Jefferson in the second. Mr. Diggs says the line's sound was inspired by California rapper Kendrick Lamar. "It has this sort of bouncy-like, West Coast feel to it."
          </div>
          <div class="col-md-12  viz-content">
            <div class="tunes" id="tunes-onyourside"><div class="loadloadloading active"><div class="loading-circle"></div></div></div>
          </div>
          <div class="col-md-12  viz-content">
            <div class="tunes" id="tunes-goodkid"><div class="loadloadloading active"><div class="loading-circle"></div></div></div>
          </div>
      </div>
    </div>
  </div>


  <!-- Slide 10 -->
  <div class="swiper-slide">
    <div class="swiper-content-wrapper">
      <div class="swiper-content">
          <div class="col-md-12 lede userviz">
            <div class="splitter bug">Make Your Own</div>
           <p> Now it's your turn. Paste in English lyrics, poetry or text and our algorithm will try to highlight similar-sounding syllables to reveal rhymes and repetitions.</p>
                <div id="entry" class="row custom-input">

                  <div class="col-xs-12 col-sm-6 pull-left pillbuttons">
                    <span class="button" onclick="RAP.nicki(tune)">Nicki Minaj</span>
                    <span class="button" onclick="RAP.biggie(tune)">Biggie</span>
                    <span class="button" onclick="RAP.lauryn(tune)">Lauryn Hill</span>
                    <span class="button" onclick="RAP.pun(tune)">Big Pun</span>
                    <span class="button" onclick="RAP.kim(tune)">Lil' Kim</span>
                    <span class="button" onclick="RAP.raekwon(tune)">Raekwon</span>
                    <span class="button" onclick="RAP.salt(tune)">Salt-N-Pepa</span>
                    <span class="button" onclick="RAP.jay(tune)">Jay-Z</span>
                    <span class="button" onclick="RAP.jewels(tune)">Run the Jewels</span>
                    <span class="button" onclick="RAP.tribe(tune)">A Tribe Called Quest</span>
                    <span class="button" onclick="RAP.bey(tune)">Beyoncé</span>
                    <span class="button" onclick="RAP.chance(tune)">Chance the Rapper</span>
                  </div>
            <div class="col-xs-12 col-sm-6 pull-right leftborder">
                      <textarea id="lyrics"  rows="8" maxlength="256" style="width: 100%">Choose a verse at left or paste in your own lyrics</textarea>
            <div class="row">
              <div class="slider-row">

                     <div class="col-xs-2 squish">loose</div>
                     <div class="col-xs-8 squish" id="slider"><input type="range" min="1.5" max="5" value="2" id="fader" step="0.5"></div>
                     <div class="col-xs-2 squish">strict</div>
                     <div class="col-xs-12 squish">
                                      <span id="submitpillbutton" class="button inactive" onclick="RAP.analyze(tune)">Analyze</span>
                     </div>
                 </div>
                 </div>
         </div>
        <div id="userviz"></div>

    </div>
    <div class="inactive loadloadloading loading" id="loadloadloading"><div class="loading-circle"></div></div>
    <div id="words"></div>
    <div id="bars"></div>
    <script id="text-viz" type="text/jst">
        <% _.each(sentences,function(sentence){ %>
            <div>
            <% _.each(sentence,function(word,wi){ %>
                <span>
                  <% _.each(word[1],function(syl,si){ %><span data-label="<%= word[0][si].label() %>" data-sounds="<%= word[0][si].sounds.join('-') %>" data-color="<%= word[0][si].color %>" style="background-color:<%= colors[word[0][si].color] %>;"><%= syl %></span><% }); %>
                </span>
            <% }); %>
            </div>
        <% }); %>
    </script>

    <script id="bar-viz" type="text/jst">
<% _.each(groups,function(g,i){ %><div style="height:<%= dim %>px"><% _.each(syls,function(syl){ %><span class="block" style="background-color:<%= syl.color == g || syl.color == '*' ? colors[syl.color] : '#eee' %>;width:<%= dim %>px;height:<%= dim %>px;"></span><% }); %></div><% }); %>
    </script>

    <script src="{{url_for('static', filename='hamiltunes.js')}}"></script>

    <!--<script src="js/hamiltunes.js?v=3"></script> -->


          </div>
          <div class="clearfix"></div>
          <div class="tunes" id="tunes-userviz"></div>

          <div class="tunes" id="tunes-userviz-error" class="hidden">
            <p>We couldn't find a rhyme, try it one more time.</p>
          </div>
          <div class="clearfix"></div>
          <div class="clearfix"></div>
          <div class="text-container centered-container footnote">
                <p class="smallbodytext">Note: The tool may have trouble with unusual pronunciations, misspellings or proper nouns. Rhyme is highly subjective, and ultimately lies in the eye (or ear) of the beholder. The sound lines of the visualization are arranged dynamically by the algorithm to create the longest consecutive string of rhymes. The lines are not in a fixed vertical order, and may change on successive analyses. <br><a href="http://graphics.wsj.com/hamilton-methodology">Read the full methodology »</a></p>
                <div class="social-links"></div>
            </div>
        </div>
      </div>
  </div>

    <!-- Slide 10 -->
  <div class="swiper-slide">
    <div class="swiper-content-wrapper">
      <div class="swiper-content splits">
          <div class="col-md-12 lede">
            <div class="splitter bug">Related Videos</div>
          </div>
          <div class="clearfix"></div>
          <div class="video-link-container">
              <div class="col-sm-6 col-md-6 video-wrapper">
                <div class="image-wrapper">
                  <a href="http://www.wsj.com/video/the-rap-on-hamilton-american-history-meets-hip-hop/55AB9A63-17DC-4048-AA1E-EBA3768E61E0.html">
                    <img src="http://m.wsj.net/video/20160606/060616hamiltonrap/060616hamiltonrap_1280x720.jpg">
                  </a>
                </div>
                <div class="video-headline">
                  <h3>
                    <a href="http://www.wsj.com/video/the-rap-on-hamilton-american-history-meets-hip-hop/55AB9A63-17DC-4048-AA1E-EBA3768E61E0.html">The Rap on 'Hamilton': American History Meets Hip Hop</a>
                  </h3>
                </div>
                <div class="video-description">
                  <p>
                    <a href="http://www.wsj.com/video/the-rap-on-hamilton-american-history-meets-hip-hop/55AB9A63-17DC-4048-AA1E-EBA3768E61E0.html">The rap songs in composer Lin Manuel Miranda's Broadway smash "Hamilton" are about more than just the Founding Fathers. Some characters' lines and rhymes offer clues about their personalities and pay homage to hip hop artists of the past.</a>
                  </p>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 video-wrapper">
                <div class="image-wrapper">
                  <a href="http://www.wsj.com/video/hamilton-star-daveed-diggs-on-show-rap-influences/CEA66BF5-A949-424F-BF82-7154115ABA96.html">
                    <img src="//graphics.wsj.com/hamilton/img/daveed-video.jpg">
                  </a>
                </div>
                <div class="video-headline">
                  <h3>
                    <a href="http://www.wsj.com/video/hamilton-star-daveed-diggs-on-show-rap-influences/CEA66BF5-A949-424F-BF82-7154115ABA96.html">'Hamilton' Star Daveed Diggs on Show's Rap Influences</a>
                  </h3>
                </div>
                <div class="video-description">
                  <p>
                    <a href="http://www.wsj.com/video/hamilton-star-daveed-diggs-on-show-rap-influences/CEA66BF5-A949-424F-BF82-7154115ABA96.html">From Big Pun to Kendrick Lamar, "Hamilton" performer Daveed Diggs explains how hip-hop history fuels the hit Broadway musical</a>
                  </p>
                </div>
              </div>
            </div>
          <div class="clearfix"></div>
      </div>
    </div>
  </div>


  <!-- Slide 12 -->
  <div class="swiper-slide last">
    <div class="swiper-content-wrapper">
      <div class="swiper-content">
          <div class="col-md-12 footnote">
            <div class="row">
              <div class="text-container credits splitter">
                 <p>By <a href="https://twitter.com/joeleastwood">Joel Eastwood</a> and <a href="https://twitter.com/erikhinton">Erik Hinton</a><br />
                 </p><p>Additional design and development by<br />
                 <a href="https://twitter.com/ana_becker">Ana Asnes Becker</a>, <a href="https://twitter.com/lauratitian">Laura Holder</a>, <a href="https://twitter.com/jessiaspa">Jessia Ma</a> and <a href="https://twitter.com/stuartathompson">Stuart A. Thompson</a></p>
                 <p>Published June 6, 2016 at 7:30 a.m. ET<br />

                 <p>Audio: Atlantic (Hamilton); Ruffhouse, Columbia (Lauryn Hill); Soundtrack Classics (The Pirates of Penzance); Loud, Terror Squad (Big Pun); Ra Records, 4th & B'way, Island, MCA, Aftermath (Rakim); Columbia (Nas); Aftermath, Interscope (Kendrick Lamar)</p>
                 <p>Photos: Associated Press (Leslie Odom Jr., Lauryn Hill); Joan Marcus (Hamilton company images); Getty Images (Big Pun, Nas); Getty Images for Coachella (Kendrick Lamar); Zuma Press (Rakim); Courtesy of the Advertising Archives (Pirates of Penzance)</p>
                 <p>Syllabified CMU Pronouncing Dictionary by Susan Bartlett, Grzegorz Kondrak and Colin Cherry, "On the Syllabification of Phonemes," NAACL-HLT 2009.
                  </p>
                 <p><a href="http://graphics.wsj.com/hamiltunes-methodology/"><strong>Read the full methodology »</strong></a></p>
               </div>
             </div>
          </div>hamilt


          <footer>
            <div id="source-line">
              <ul class="footnote-links">
                  <li><a href="https://customercenter.wsj.com/public/view/contactinformation.html" rel="nofollow">Customer Service</a></li>
                  <li><a href="http://www.wsj.com/policy/subscriber-agreement" rel="nofollow">Subscriber Agreement</a></li>
                  <li><a href="http://www.wsj.com/policy/privacy-policy" rel="nofollow">Privacy Policy</a></li>
                  <li><a href="http://www.wsj.com/policy/cookie-policy" rel="nofollow">Cookie Policy</a></li>
                  <li class="copyright">© 2018 <a href="http://www.dowjones.com">Dow Jones &amp; Company</a>, Inc. All Rights Reserved.</li>
              </ul>
            </div>
            </footer>

      </div>
    </div>
  </div>



</div><!-- Swiper container -->

<!-- If we need navigation buttons -->
<!-- <div class="start-button">Turn up the volume</div> -->

<div class="swiper-scrollbar"></div>
<div class="swiper-button-next"></div>
<div class="swiper-pagination swiper-pagination-h"></div>
</div><!-- swiper-container -->


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<!--<script type="text/javascript" src="http://graphics.wsj.com/libs/js/wsj/FrameMessenger/0.0.1/framemessenger.js"></script> -->
	<script type="text/javascript" src="{{url_for('static', filename='framemessenger.js')}}"></script>
    <script type="text/javascript"
          id="framemessenger_graphics"
          data-frame-name="hamilton"
          data-root-element="#main-wrapper"
          src="{{url_for('static', filename='framemessenger_graphics.js')}}"></script>

	<script type="text/javascript">
		var proj_id = "hamilton";
		var proj_headline = "How does ‘Hamilton,’ the non stop, hip-hop Broadway sensation tap rap’s master rhymes to blur musical lines?";

		var trackingOpts = {
			pageName_over:"WSJ_infogrfx_interactive_"+proj_id+"_"+proj_headline
		};

		window.countPage(proj_id, proj_headline, "", trackingOpts);

	</script>

    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery.socialriser.min.js')}}"></script>
    <script src="{{url_for('static', filename='common.js')}}"></script>

	<!-- <script src="http://graphics.wsj.com/libs/js/bootstrap/3.2.0/bootstrap.min.js"></script> -->
    <!-- <script src="http://graphics.wsj.com/libs/js/wsj/jquery.socialriser/1.6.0/jquery.socialriser.min.js"></script> -->
	<!-- <script src="http://graphics.wsj.com/libs/js/wsj/wsj-template/1.2.0/common.js"></script> -->

  <!-- Swiper JS -->
  <!-- <script src="//graphics.wsj.com/hamilton/js/swiper.min.js"></script> -->

  <!-- Waypoints -->
  <script src="{{url_for('static', filename='waypoints.min.js')}}"></script>
  <!-- <script src="http://graphics.wsj.com/libs/js/jquery/waypoints/2.0.2/waypoints.min.js"></script> -->

  <!-- Jplayer -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
  <!-- Handlebars -->
  <script src="{{url_for('static', filename='handlebars.min.js')}}"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script> -->
  <!-- D3 -->
  <script src="{{url_for('static', filename='d3.min.js')}}"></script>
  <!-- <script src="http://graphics.wsj.com/libs/js/d3/3.4.11/d3.min.js"></script> -->

    <!--<link rel="stylesheet" href="//graphics.wsj.com/hamilton/js/libs-d41d8cd9.js"/> -->
    <link rel="stylesheet" href="static/libs-d41d8cd9.js"/>

    <script src="{{url_for('static', filename='tunes.js')}}"></script>
    <script src="{{url_for('static', filename='queue.min.js')}}"></script>
    <script src="{{url_for('static', filename='settings.js')}}"></script>
    <script src="{{url_for('static', filename='app-75bcf999.js')}}"></script>

    <!--
    <script src="//graphics.wsj.com/hamilton/js/tunes.js"></script>
    <script src="//graphics.wsj.com/hamilton/js/queue.min.js"></script>
    <script src="data/settings.js"></script>
    <script src="//graphics.wsj.com/hamilton/js/app-75bcf999.js"></script>

    -->



	<script type="text/javascript">
		(function(a,b,c,d){
		a='//tags.tiqcdn.com/utag/wsjdn/newsgraphics/prod/utag.js';
		b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
		a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
		})();
	</script>

  <script type="text/javascript">
  		function responsive_ad_code(){
  			var view = window.innerWidth <= 768 ? 'mobile' : window.innerWidth <= 991 ? 'tablet' : 'desktop';
  			$(window).resize(function(){
  				var newView = window.innerWidth <= 768 ? 'mobile' : window.innerWidth <= 991 ? 'tablet' : 'desktop';
  				if(newView != view){
  					googletag.pubads().refresh([window.slot1,window.slot2]);

  				}
  				view = newView;
  			});
  		}

      (function(){
      	$(function(){
      		responsive_ad_code();
      	});
    })();
  </script>

  <script type='text/javascript'>
    var adSection = 'interactive_usnews';

    var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function() {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') +
            '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        })();
</script>

<script type='text/javascript'>
    googletag.cmd.push(function() {
        adSlotAD_desktop = googletag.defineSlot('/2/interactive.wsj.com/' + adSection, [300, 250], 'AD_header').addService(googletag.pubads());
        adSlotAD_mobile = googletag.defineSlot('/2/interactive.wsj.com/' + adSection, [300, 250], 'AD_footer').addService(googletag.pubads());
        googletag.enableServices();
    });
</script>


  <!-- Basic Layout -->
  <script id="structure-template" type="text/x-handlebars-template">
    <div class="viz-audio-wrapper">
      <div class="standalone-play-pause">
        <div class="jp-play" tabindex="0"><span class="glyphicon glyphicon-play"></span></div>
        <div class="jp-pause" tabindex="0"><span class="glyphicon glyphicon-pause"></span></div>
      </div>
      <div class="audio-player" id="audio-player-{{container}}"></div>
      <div class="viz-container" id="viz-{{container}}"></div>
    </div>
    <div class="lyrics-container" id="lyrics-{{container}}"></div>
  </script>

  <!-- Music Player Template -->
  <script id="audio-player-template" type="text/x-handlebars-template">
    <div id="jquery-jplayer-{{container}}" class="jp-jplayer"></div>
    <div id="jp-container-{{container}}" class="jp-audio" role="application" aria-label="media player">
      <div class="jp-type-single">
        <div class="jp-gui jp-interface">
          <div class="jp-controls-holder">
            <div class="jp-controls">
              <div class="jp-play" tabindex="0"><span class="glyphicon glyphicon-play"></span></div>
              <div class="jp-pause" tabindex="0"><span class="glyphicon glyphicon-pause"></span></div>
            </div>
          </div>
        </div>
        <div class="jp-no-solution">
          <span>Update Required</span>
          To see this content, please update your browser or your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
      </div>
    </div>
  </script>

  <!-- Lyrics Template -->
  <script id="lyrics-template" type="text/x-handlebars-template">

    <div class="lyrics-box">
      <div class="lyrics">
        {%  raw  %}
        {{#each lyrics}}

          <span class="{{highlight this}}" data-index="{{@key}}" data-timecode="{{timecode}}" data-classed="{{classed}}">{{{text}}}</span>{{{breakspace linebreak space}}}

        {{/each }}
        {% endraw %}
          <span class="song-meta">
        "{{title}}" on "{{album}}"
      </span>
      </div>
    </div>
    <div class="lyrics-meta mobi-meta">
        <span class="song-title">{{artist}} performing "{{title}}" on "{{album}}"</span>
    </div>
    <div class="lyrics-meta">
      <img class="hedcut" src="//graphics.wsj.com/hamilton/img/{{hedcut}}.png" alt="">
      <span class="song-title">{{artist}}</span>
      <span class="album"></span>
      <span class="view-lyrics"><span class="view">View</span><span class="hides">Hide</span> lyrics</span>
    </div>

    <div class="clearfix"></div>
  </script>

<!-- START Parse.ly Include: Standard -->
<div id="parsely-root" style="display: none">
  <span id="parsely-cfg" data-parsely-site="wsj.com"></span>
</div>
<script>
    (function(s, p, d) {
      var h=d.location.protocol, i=p+"-"+s,
          e=d.getElementById(i), r=d.getElementById(p+"-root"),
          u=h==="https:"?"d1z2jf7jlzjs58.cloudfront.net"
          :"static."+p+".com";
      if (e) return;
      e = d.createElement(s); e.id = i; e.async = true;
      e.src = h+"//"+u+"/p.js"; r.appendChild(e);
    })("script", "parsely", document);
</script>
<!-- END Parse.ly Include: Standard -->
</body>
</html>
